/** Home Section */
:root {
    --bg-color: #3A3636;
    --main-color:#FA7C08;
    --text-color:#fff;
    --second-text-color:#FA3408;
    --border-color:#A17668;
}

#VProject #home {
    display: flex;
    background: url("../images/project.jpg");
    height: 78vh;
    background-size: cover;
}

#home .max-width {
    margin: auto 0 auto 70px;
    width: max-content;
}

.homeRectangle {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    /*background: rgba(20, 0, 53,0.4);*/
    border-radius: 2rem;
    box-shadow: 0 0 4rem var(--main-color);
}

.scrollBtn{
    position: absolute;
    width: 11vh;
    height: 11vh;
    bottom: 18vh;
    left: 50vw;
    z-index: 2;
    background: white;
    border-radius: 100%;
    overflow: hidden;
}

@keyframes moveIcon {
    0% {
        transform: translate(0px, 0);
    }

    50% {
        transform: translate(0px, 15px);
    }

    100% {
        transform: translate(0px, 0);
    }
}

.scrollbtnimg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    animation: moveIcon 2s infinite;
    cursor: pointer;
}

/** Project Section */
.projects {
    background-color: var(--main-color);
    padding: 50px 0;
    overflow: hidden;
}

.project-content {
    height: 100%;
    padding: 20px 25px;
    position: relative;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

span {
    color: var(--main-color);
}

.projects h1 {
    margin-left: 5%;
}

.project-content .card {
    width: calc(33% - 50px);
    border-radius: 50px 0 50px 0;
    box-shadow: var(--main-color) 2px 5px 10px;
    object-fit: fill;
    cursor: pointer;
    overflow: hidden;
    height: 90%;
}

.project-content .card .box {
    width: 100%;
    height: 370px;
    position: relative;
}

.projects .box {
    width: 300px;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--bg-color));
    position: relative;
    overflow: hidden;
    transition: all 2s ease;
}

.projects .project-content .card {
    position: relative;
}

.projects .card {
    margin-bottom: 5%;
    overflow: hidden;
}

.project-content .card .box img {
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 2s ease;
    width: 100%;
    height: 100%;
    text-align: end;
}

.projects .box:hover {
    overflow: hidden;
    transform: scale(1.2);
    transition: all 2s ease;
}

/*.box h3 {
    position: absolute;
    bottom: 7px;
    left: 35%;
}*/

/*.projects .card h2 {
    position: relative;
    bottom: 2px;
    left: 35%;
}*/

.projects .details {
    width: 90%;
    height: 85%;
    background: rgba(36, 35, 35, 0.87);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transform: scaleY(0);
    transition: transform .5s;
    border: #e6e6e630 20px solid;
    overflow: hidden;
}

.projects .details_content {
    padding: 25px;
    align-content: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.projects .card .details h3 {
    font-family: "Roboto Slab";
    text-align: center;
    padding: 0;
    font-size: 25px;
}

.projects .details_content h3 {
    color: var(--text-color);
}

.projects .card:hover .details {
    transform: scaleY(1);
}

.projects .details_content p {
    font-size: 15px;
    color: var(--text-color);
    padding-top: 14px;
}

.projects .details_content a {
    color: white;
    font-size: 15px;
    font-family: 'Harrington';
    text-decoration: underline;
}
